:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
}

/* # Front-end Style Guide

## Layout
- Mobile: 375px
- Desktop: 1440px

### Font
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

font-family: 'Fraunces', serif;
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  max-width: 1440px;
  margin-inline: auto;
  background-color: #d3d3d330;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
