:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  max-width: 1440px;
  background-color: #d3d3d330;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 750px;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper__product {
  width: 50%;
  height: inherit;
}

.product__desktop {
  width: 100%;
  height: inherit;
}

.product__mobile {
  display: none;
}

.wrapper__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  width: 50%;
  height: 750px;
  background: var(--white);
}

.description__logo {
  font-size: 14px;
  letter-spacing: 8px;
  font-weight: 500;
  /* margin-bottom: 20px; */
  color: var(--grayish-blue);
}

.description__title {
  font-family: 'Fraunces', serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 0.9;
}

.description__text {
  font-size: 24px;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.description__sale {
  font-size: 48px;
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
}

.description__price {
  position: relative;
  top: -10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  text-decoration: line-through;
  color: var(--grayish-blue);
}

.description__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--dark-cyan);
}

.description__btn:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 20%);
}

.btn__img {
  width: 18px;
  height: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1099px) {
  .wrapper {
    max-width: 375px;
    height: auto;
    flex-direction: column;
    border-radius: 20px;
  }

  .wrapper__product {
    width: 100%;
  }

  .product__desktop {
    display: none;
  }

  .product__mobile {
    display: block;
    width: 100%;
  }

  .wrapper__description {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 30px;
  }

  .description__logo {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .description__title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .description__text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .description__sale {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .description__price {
    position: relative;
    top: -5px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
  }

  .description__btn {
    font-size: 16px;
    padding: 15px 0;
  }
}
