:root {
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slateblue: hsl(252, 100%, 67%);
  --light-royalblue: hsl(241, 81%, 54%);

  /* Circle */
  --violetblue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --darkgray-blue: hsl(224, 30%, 27%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  max-width: 1440px;
  height: 100vh;
  gap: 20px;
  color: #333;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #ddd;
}

main {
  background-color: var(--white);
  border-radius: 25px;
}

.clr-dark {
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-clm-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  width: 20px;
  height: 20px;
  font-style: italic;
}

/* Card-Left */
.container__card-left {
  text-align: center;
  width: 310px;
  color: var(--light-lavender);
  border-radius: 25px;
  background-image: linear-gradient(
    var(--light-slateblue),
    var(--light-royalblue)
  );
}

.container__card-left > h2 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 500;
}

.container__card-left > p {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 40px;
}

.card-left__circle {
  width: 162px;
  height: 162px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    var(--violetblue),
    var(--persian-blue)
  );
}

.card-left__circle > p {
  color: hsl(241, 100%, 75%);
}

span.circle__main-score {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
  color: var(--white);
}

span.card-left__great {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--white);
}

.sum-score {
  margin-bottom: 50px;
}

/* Card-Right */
.container-width {
  width: 310px;
  border-radius: 25px;
  color: var(--darkgray-blue);
  background-color: var(--white);
}

.container__card-right {
  width: 80%;
  margin-inline: auto;
}

.container__card-right h2 {
  font-size: 1.5rem;
  margin: 30px 0;
}

.card-right__test-result-reaction {
  color: hsla(0, 100%, 67%, 0.8);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.card-right__test-result-memory {
  color: hsla(39, 100%, 56%, 0.8);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.card-right__test-result-verbal {
  color: hsla(166, 100%, 37%, 0.8);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.card-right__test-result-visual {
  color: hsla(234, 85%, 45%, 0.8);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.card-right__test-result-reaction,
.card-right__test-result-memory,
.card-right__test-result-verbal,
.card-right__test-result-visual {
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-right__test-result-visual {
  margin-bottom: 30px;
}

.test-result__reaction,
.test-result__memory,
.test-result__verbal,
.test-result__visual {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.container-width img {
  margin-right: 10px;
}

.score {
  color: hsla(224, 30%, 27%, 0.5);
}

.btn-container {
  width: 80%;
}

.card-right__btn {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 16px 0;
  margin-bottom: 40px;
  border-radius: 50px;
  border-style: none;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--darkgray-blue);
}

.card-right__btn:hover {
  background-image: linear-gradient(
    var(--light-slateblue),
    var(--light-royalblue)
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
  }

  .container__card-left > h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .sum-score {
    margin-bottom: 40px;
  }

  .container__card-right h2 {
    margin: 20px 0;
  }

  .card-right__btn {
    margin-bottom: 30px;
  }
}
