:root {
  --clr-white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);

  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--light-pink);
}

h1 {
  font-size: 2.5rem;
  color: var(--dark-purple);
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  top: -110px;
  max-width: 28%;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--clr-white);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

section {
  display: flex;
  align-items: center;
}

.questions {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-bottom: 20px;
  font-weight: var(--fw-semi-bold);
  color: var(--dark-purple);
}

.questions:nth-child(10) {
  margin-bottom: 0px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.facts {
  display: none;
}

.facts:last-of-type {
  margin-bottom: 0;
}

.toggle-facts {
  display: block;
  margin-bottom: 15px;
  line-height: 1.2rem;
  font-size: 0.625rem;
  color: var(--grayish-purple);
}

.toggle-facts:last-of-type {
  margin-top: 20px;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background-color: var(--light-pink);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: -80px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
